<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kt03.aigo.com.myapplication" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BrandListActivity"
            android:label="@string/title_activity_brand_list" >
        </activity>
        <activity
            android:name=".ui.ui.MatchRemote"
            android:label="@string/title_activity_match_remote" >
        </activity>
        <activity
            android:name=".ui.ui.ConfirmRemoteActivity"
            android:label="@string/title_activity_confirm_remote" >
        </activity>
        <activity
            android:name=".ui.ui.AutoModelActivity"
            android:label="@string/title_activity_auto_model" >
        </activity>
    </application>

</manifest>
